/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --text-weight: 410;
  --title-weight: 715;
  --background-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --padding: 20px;
  --title-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --accent-color: #000;
  --text-color: #000;
  --label-stroke-color: #fff;
  --dialog-backdrop-color: rgba(0, 0, 0, 0.75);
  --button-text-color: #fff;
  --stroke-color: #000;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --like-color: #ff0000;
}
